<div class="page-header">
  <div class="container-fluid">
    <%= erb :search_bar %>
    <span class="pull-left">
      <img src=<%= user[:image] %> alt="avatar" class="img-thumbnail" style="width:150px;height:150px">
    </span>
    <span class="pull-left">
      <h3><a href="/nanotwitter/v1.0/users/<%= user[:username] %>/profile">&nbsp<%= user['name'] %></a></h3>
      <h5>&nbsp@<%= user['username'] %></h5>
    </span>
    <span class="pull-right" style="margin-top: 25px">
      <button class="btn btn-danger" data-toggle="modal" data-target="#logout-confirm-modal">Logout</button>
    </span>
  </div>
</div>

<%= erb :tweet_box, :locals => {:user => user } %>

<!-- Div content is replaced by tweet feed by AJAX call -->
<div id="logged-tweet-feed">
  Tweets
  <div class="table-responsive">
    <table class="table table-striped table-hover">
      <tr><td class="text-center">Getting the latest tweets, just for you. Please wait...</td></tr>
    </table>
  </div>
</div>

<div class="modal fade" id="logout-confirm-modal" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4>Logout</h4>
      </div>
      <p class="modal-body text-center">Are you sure you want to log-off?</p>
      <div class="text-center">
        <a href="/nanotwitter/v1.0/logout" class="btn btn-danger" style="margin-bottom: 15px" type="submit">Logout</a>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
  // To load tweets
  $.ajax({
    url:"/nanotwitter/v1.0/tweets/followees",
    cache: false,
    success: function(html) {
      $("#logged-tweet-feed").html(html);
    }
  });
</script>